@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #a1c3ff;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navbar {
  background: #333;
  color: #fff;
  height: 4rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 8rem;
  }

  .navbar .container {
    justify-content: center;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: center;
  }
}
