body {
  margin: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: coral;
  box-shadow: 0 0 30px grey;
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

table,
td,
th {
  border-top: 1px solid #c4dcf3;
  border-bottom: 1px solid #c4dcf3;
  border-collapse: collapse;
  padding: 5px;
}

table th {
  background-color: #427fef;
}

table tr:nth-child(odd) {
  background-color: #eef7ff;
}

tfoot {
  text-align: left;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: tomato;
  box-shadow: 10px 10px lightgrey;
  border-radius: 10px;
}
